.left-side {
  float: left;
  margin-right: 30px;
}

.pagenation {
  list-style-type: none;
  padding: 0;
  width: 260px;
  margin: 10px auto 0;
}

.before {
  float: left;
}

.after {
  float: right;
}


table {
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  color: #336;
  text-decoration: underline;
  width: 300px;
}

th {
  background-color: #ccc;
  border: solid 1px #999;
}

td {
  padding: 0 10px;
  border: solid 1px #ccc;
}

.price {
  text-align: right;
}

#id {
  width: 80px;
}

#name {
  width: 160px;
}

#price {
  width: 110px;
}

#error {
  width: 300px;
}

/* 修正時刻： Tue Mar 24 08:25:46 2020 */
